.form-group.required label:after {
    content: " *";
    color: red;
}

table td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

td a {
    cursor: pointer;
}

.alert ul {
	margin-bottom: 0;
}

.form-control {
	color: #3e709a;
}

.modal-body {
    max-height: 70vh; /* 70% of viewport height */
    overflow-y: auto;
}