.form-group.required label:after {
    content: " *";
    color: red;
}

table td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.alert-danger ul {
	margin-bottom: 0;
}